/* GRID VISUAL OF FLIP AND ROTATE MENU  */
.tui-image-editor-container {
  .tui-image-editor-grid-visual {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.7);
  }
  .tui-image-editor-main.tui-image-editor-menu-flip, 
  .tui-image-editor-main.tui-image-editor-menu-rotate {
    .tui-image-editor {
      transition: none;
    }
  }
  .tui-image-editor-main.tui-image-editor-menu-flip .tui-image-editor-grid-visual, 
  .tui-image-editor-main.tui-image-editor-menu-rotate .tui-image-editor-grid-visual {
    display: block;
  }
  .tui-image-editor-grid-visual  {
    table {
      width: 100%;
      height: 100%;
      border-collapse: collapse;
      td {
        border: 1px solid rgba(255, 255, 255, 0.3);
      }
      td.dot:before {
        content: '';
        position: absolute;
        box-sizing: border-box;
        width: 10px;
        height: 10px;
        border: 0;
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
        border-radius: 100%;
        background-color: #fff;
      }
      td.dot.left-top:before {
        top: -5px;
        left: -5px;
      }
      td.dot.right-top:before {
        top: -5px;
        right: -5px;
      }
      td.dot.left-bottom:before {
        bottom: -5px;
        left: -5px;
      }
      td.dot.right-bottom:before {
        bottom: -5px;
        right: -5px;
      }
    }
  }
}
